<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Ride 2014 Planning - $title$</title>
  <link rel="stylesheet" type="text/css" href="/css/screen.css"/>
  <link rel="stylesheet" type="text/css" href="/css/syntax.css"/>
  <link rel="alternate" type="application/atom+xml" href="http://ride.tmorris.org/atom.xml" title="Atom feed"/>
  $mathjax$
</head>
<body>
<div id="title">
  Ride 2014 Planning
  <div id="subtitle">
    Planning for the Trans-Australia Ride of 2014
  </div>
</div>
<div id="header">
  <div id="navigation">
    <a href="/index.html">Home</a>
    <a href="/posts.html">All Posts</a>
    <a href="/contact.html">Contact</a>
    <a href="/atom.xml"><img src="/images/feed-icon-14x14.png" alt="feed"/></a>
  </div>
</div>
$body$
</body>
</html>
