<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Ride 2014 Planning - $title$</title>
  <link rel="stylesheet" type="text/css" href="/css/screen.css"/>
  <link rel="stylesheet" type="text/css" href="/css/syntax.css"/>
  <link rel="alternate" type="application/atom+xml" href="http://ride.tmorris.net/atom.xml" title="Atom feed"/>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" />
  <script type="text/javascript" src="https://raw.github.com/Mathapedia/LaTeX2HTML5/master/latex2html5.min.js" />
</head>
<body>
<div id="title">
  Ride 2014 Planning
  <div id="subtitle">
    Planning for the Trans-Australia Ride of 2014
  </div>
  <div id="routelinks">
    <div><a href="/$ride.gpx$">Download raw GPX file ($ride.gpx$)</a></div>
    <div><a href="http://latlon.org/show_gpx?gpx_url=http://ride.tmorris.net/$ride.gpx$">Display GPX on latlon.org</a></div>
    <div><a href="$osrm$">View routing on OSRM</a></div>
  </div>
</div>
<div id="header">
  <div id="navigation">
    <a href="/index.html">Home</a>
    <a href="/posts.html">All Posts</a>
    <a href="/contact.html">Contact</a>
    <a href="/atom.xml"><img src="/images/feed-icon-14x14.png" alt="feed"/></a>
  </div>
</div>
$body$
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41231686-1']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
