$body$

<hr/>
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'ride2014planning';
  var discus_identifier = '$url$';
  var disqus_url = 'http://ride.tmorris.net$url$';
  var discus_title = '$title$';
  (function () {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript><p>The comments use <a href="http://disqus.com/?ref_noscript">Disqus</a>,
  which requires Javascript.</p></noscript>
